---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Eminem - Contacto">
  <main class="max-w-[800px] mx-auto p-4">
    <h1 class="text-4xl font-bold mb-8">Contáctanos</h1>

    <!-- Información de contacto -->
    <div class="text-center">
      <p class="text-gray-300 mb-2">
        ¡Puedes contactarnos en cualquier momento!
      </p>
      <p class="text-gray-300 mb-2">
        Correo electrónico: <a
          href="mailto:laskindr3s@gmail.com"
          class="text-blue-500 hover:underline">laskindr3s@gmail.com</a
        >
      </p>
      <p class="text-gray-300">
        GitHub: <a
          href="https://github.com/landr3s"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-500 hover:underline">landr3s</a
        >
      </p>
    </div>
  </main>
</Layout>
