---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main class="max-w-[1024px] mx-auto p-4">
    <!-- Contenido del blog sobre Eminem -->
    <article class="p-6 mb-8">
      <h1 class="text-4xl font-bold mb-6">Eminem: El Rey del Rap</h1>
      <p class="text-gray-100 mb-6">
        Eminem, también conocido como Marshall Mathers o Slim Shady, es uno de
        los artistas más influyentes en la historia del rap. Conocido por sus
        letras ingeniosas y su estilo único, ha dejado una marca indeleble en la
        industria musical.
      </p>
      <p class="text-gray-200 mb-6">
        Nacido el 17 de octubre de 1972 en Detroit, Michigan, Eminem creció en
        un entorno difícil y canalizó sus experiencias en su música. Su álbum
        debut, "The Slim Shady LP", lanzado en 1999, lo catapultó a la fama y
        desde entonces ha lanzado una serie de exitosos álbumes.
      </p>
      <div class="flex gap-2 items-center justify-center">
        <img src="/public/eminem-2.png" alt="Eminem" class="w-30 h-auto" />

        <img src="/public/eminem-4.png" alt="Eminem" class="w-30 h-auto" />
      </div>

      <h2 class="text-3xl font-bold mb-4">Discografía Destacada</h2>
      <ul class="list-disc list-inside text-gray-200 mb-6">
        <li>The Slim Shady LP (1999)</li>
        <li>The Marshall Mathers LP (2000)</li>
        <li>The Eminem Show (2002)</li>
        <li>Encore (2004)</li>
        <li>Relapse (2009)</li>
        <li>Recovery (2010)</li>
        <li>The Marshall Mathers LP 2 (2013)</li>
      </ul>

      <h2 class="text-3xl font-bold mb-4">Premios y Reconocimientos</h2>
      <p class="text-gray-100 mb-6">
        A lo largo de su carrera, Eminem ha ganado numerosos premios, incluidos
        varios premios Grammy y MTV Video Music Awards. También ha sido aclamado
        por la crítica y ha vendido millones de álbumes en todo el mundo.
      </p>

      <h2 class="text-3xl font-bold mb-4">Colaboraciones</h2>
      <p class="text-gray-200 mb-6">
        Además de su carrera en solitario, Eminem ha colaborado con numerosos
        artistas de renombre en la industria musical, incluyendo a Rihanna, Dr.
        Dre, 50 Cent, y más.
      </p>

      <h2 class="text-3xl font-bold mb-4">Legado</h2>
      <p class="text-gray-100 mb-6">
        El legado de Eminem en el mundo del rap es innegable. Ha influenciado a
        generaciones de artistas y su música continúa resonando con millones de
        fanáticos en todo el mundo.
      </p>

      <a
        href="https://open.spotify.com/intl-es/artist/7dGJo4pcD2V6oG8kP0tJRR?si=BiBqB_ctQnuu-_JKuG9X9Q"
        class="text-blue-500 hover:underline">Escuchar a Eminem</a
      >
    </article>

    <div class="text-center">
      <p class="text-gray-300 mb-2">¡Califica nuestra página!</p>
      <div class="flex justify-center items-center">
        <input type="radio" id="star5" name="rating" value="5" class="hidden" />
        <label for="star5" class="text-3xl cursor-pointer star">★</label>
        <input type="radio" id="star4" name="rating" value="4" class="hidden" />
        <label for="star4" class="text-3xl cursor-pointer star">★</label>
        <input type="radio" id="star3" name="rating" value="3" class="hidden" />
        <label for="star3" class="text-3xl cursor-pointer star">★</label>
        <input type="radio" id="star2" name="rating" value="2" class="hidden" />
        <label for="star2" class="text-3xl cursor-pointer star">★</label>
        <input type="radio" id="star1" name="rating" value="1" class="hidden" />
        <label for="star1" class="text-3xl cursor-pointer star">★</label>
      </div>
    </div>

    <div
      id="thankYouMessage"
      class="hidden text-green-500 text-xl text-center mt-4"
    >
      Gracias por tu calificación!
    </div>
  </main>

  <script>
    const stars = document.querySelectorAll('input[name="rating"]')
    const thankYouMessage = document.getElementById("thankYouMessage")

    stars.forEach((star) => {
      star.addEventListener("click", () => {
        if (thankYouMessage) {
          thankYouMessage.classList.remove("hidden")
          setTimeout(() => {
            thankYouMessage.classList.add("hidden")
          }, 3000)
        }
      })
    })
  </script>
</Layout>

<style>
  img {
    mask-image: linear-gradient(black 80%, transparent);
  }
  .star {
    width: 32px;
  }
  .star:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
</style>
