---

---

<header class="bg-[#222] p-4">
  <div class="max-w-[1024px] mx-auto flex items-center justify-between">
    <a href="/">
      <img
        src="/public/eminem_logo.svg"
        alt="Logo"
        class="w-20 h-20 filter invert(100%) cursor-pointer"
      />
    </a>

    <nav class="flex items-center space-x-4">
      <a href="/bio" class="text-white hover:text-gray-300">Bio</a>
      <a href="/gallery" class="text-white hover:text-gray-300">Gallery</a>
      <a href="contact" class="text-white hover:text-gray-300">Contact</a>
    </nav>
  </div>
</header>
