---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import "@fontsource-variable/onest"
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/eminem_logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Header />
  <body>
    <slot />
  </body>
  <Footer />

  <style>
    :root {
      color-scheme: dark light;
    }
    body {
      font-family:
        "Onest Variable",
        -apple-system;
      color: #ddd;
      background: #000000;
    }
    a {
      color: #7fb3d5;
    }
    a:hover {
      color: #a5d8ff;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }
  </style>
</html>
